/*------------------------------------------------------------------

Project:	Roofcare

Version:	1.1

Last change:	14/05/15 [fixed Float bug, vf]

Author:	ewebcraft

[Table of contents]

1.0 Call Action Box - Content 

2.0 Animated Text 

3.0 Teammember 

4.0 Accordion 

5.0 Tagline Box 

6.0 Servicelist 

7.0 Service Network 

8.0 Image Place Holder 

9.0 Portfolio 

10.0 Counter Up 

11.0 Price Table 

12.0 Testimonials 

13.0 Service Box 

14.0 Grid Count Up 

15.0 Process 

16.0 Partners Logo 

17.0 Dropcaps 

18.0 Quotes 

19.0 Tooltips 

20.0 Checklist 

21.0 Dividers 

22.0 Tag Box 

23.0 Notifications 

24.0 Blog 

25.0 Social Network Share 

26.0 Buttons 

27.0 Tabs 

28.0 Progress Bar

29.0 Recent Blog

30.0 Newsletter

31.0 Owl Image Slider 

32.0 Section

33.0 Circlur Counter 

-------------------------------------------------------------------*/

/*---------------------------------------------------------------

[1.0 Call Action Box - Content ]

*/

/*---------------------------------------------------------------

[1.0 Partners Logo ]

----------------------------------------------------------------*/	

.jx-logo-partner-1 .flexslider {

    margin: 15px 0px 0px;

}

/*---------------------------------------------------------------

[2.0 Call Action Box - Content ]

---------------------------------------------------------------*/

	

.jx-call-action-box .box-content {

  text-align: center;

  color: #ffcc00;

  padding: 120px 0px;

}

.jx-call-action-box .box-content .title {

	font-size: 74px;

	font-weight: 500;

	margin-bottom: 41px;

	font-family: oswald;

}

.jx-call-action-box .box-content .description {

  font-size: 33px;

  padding-bottom: 32px;

  font-weight: normal;

}

.jx-call-action-box .box-content .jx-headline {

	color:#FFFFFF;

	padding-bottom:25px;

}

	

/* Parallax Image */

.parallax-image {

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center center;

}

	

/* Call Action Box - Button */

	

.jx-call-action-box .box-content .button {

  color: #000000;

  font-size: 25px;

  padding: 10px 30px;

  font-weight: normal;

  background-color:#ffcc00;

}

	

/* Hover Effect */

.box-content .button:hover {

  background: #000;

  color:#ffffff;

  cursor: pointer;

}

/*---------------------------------------------------------------

[3.0 Service List Style#1 ]

---------------------------------------------------------------*/

/* Servicelist Head */

.jx-servicelist-1 .servicelist-head {

  margin: 0 0 20px 0px;

  float: left;

  display: inline;

  color:#FFFFFF;

}

/* LIne icon */

.jx-servicelist-1.jx-line-icon .icon i{

  font-size: 45px;  

}

.jx-servicelist-1.jx-line-icon .item-position{

  margin-left:70px; 

}

/* Servicelist Content */

.jx-servicelist-1 .title {

  font-size: 18px;

  top: -2px;

  position: relative;

}
.one-third .jx-service-item:hover .content-box {
  bottom: 0;
  height: 225px;
  padding: 17px;
  position: absolute;
}
.one-third .jx-service-item .service-details {
  color: #000;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 14px;
}
.one-third .jx-service-item .service-details > p {
  font-family: open sans;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 39px;
}
.jx-servicelist-1 .category {
  color: #212121 !important;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 13px;
}
.jx-servicelist-1 .discription {
  color: #505050;
  font-family: open sans;
  font-size: 14px;
}

/* Servicelist Icon */

.jx-servicelist-1 .icon {

  float: left;

  position: absolute;

}

.jx-servicelist-1 .icon i {
  color: #fff !important;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  width: 64px;
}

.jx-servicelist-1.jx-border{

  border:2px solid #3EA7D7

}

/* Servicelist Right Content Position */

.jx-servicelist-1 .item-position {

  float: left;

  margin-left: 69px;

  padding-left: 9px;

  margin-top: 10px;

}

/* Dark Style */

.jx-servicelist-1.jx-dark .category,.jx-servicelist-1.jx-dark .discription{

  color:#333;

}

.jx-servicelist-1.jx-dark.jx-dark-icon i{

  color:#333 !important;

}

/*---------------------------------------------------------------

[4.0 Countup Style ]

---------------------------------------------------------------*/

/* Standard */

.jx-countup {

	text-align: center;

}

.jx-counter-up .count_number {
  color: #fff;
  font-family: montserrat;
  font-size: 48pt;
  margin-top: 10px;
}
.counter {
  padding: 4.1% 0 !important;
}
.jx-counter-up .counter_text {
  color: #fff;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
.jx-black-top-arrow {
  color: #fff;
  font-size: 40px;
}
	

	

	

/*---------------------------------------------------------------

[5.0 Our Team Style ]

---------------------------------------------------------------*/

.jx-team-member-1 .image{

  position: relative;

  overflow:hidden;

}

.jx-team-member-1 img{

  width:100%;

  height: auto

}

.jx-team-member-1 .team-content-box {

    height: 73px;

    transition:all .3s ease-out

}

.jx-team-member-1 .image:hover .team-content-box {

    height: 123px;

    cursor: pointer;

}

.jx-team-member-1 .team-content-box {
  background: rgba(50, 50, 50, 0.8) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  opacity: 1;
  padding: 10px 0 15px 15px;
  position: absolute;
  width: 100%;
}

.jx-team-member-1 .name {
  color: #ffcc00;
  font-family: montserrat;
  font-size: 22px;
  font-weight: 600;
}
.jx-team-member-1 .post{

	color:#ffffff;

	font-size:16px;

	padding-top:5px;

}

.jx-team-member-1 .team-selected {

	height: 20px;

	bottom: -54px;

	position: absolute;

	border-top: 45px solid #FC0;

	border-right: 280px solid transparent;

}

.jx-team-member-1 .team-social{

  margin-top:20px;

}

.jx-team-member-1 .team-social li{

  display: inline-block;

  margin-right:5px;

}

.jx-team-member-1 .team-social li i {
  background: #f4bc16 none repeat scroll 0 0;
  color: #333;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

.jx-team-member-1 .team-selected{

  opacity: 0;

  transition:all .3s ease-out;

}

.jx-team-member-1:hover .team-selected{

  opacity: 1;

}

/* Team Member Style#2 =========================*/

.jx-team-member-2 .image{

  position: relative;

  overflow:hidden;

  max-height: 260px;

}

.jx-team-member-2 img{

  width:100%;

  height: auto

}

.jx-team-member-1 .image:hover .team-content-box {

    height: 123px;

    cursor: pointer;

}

.jx-team-member-2 .name{

	color:#ffcc00;

	font-size:25px;

	font-weight:600;

  margin-top:15px;

}

.jx-team-member-2 .post{

	color:#000;

	font-size:16px;

	padding-top:5px;

}

.jx-team-member-2 .team-social{

  margin-top:5px;

  border-bottom:1px dashed #eee

}

.jx-team-member-2 .team-social li{

  display: inline-block;

  margin-right:5px;

  margin-bottom:0

}

.jx-team-member-2 .team-social li i{

  width:35px;

  height:35px;

  text-align: center;

  line-height:35px;

  font-size:20px;

  background:#ffcc00;

  color:#333;

}

.team-short-bi p{

 margin-top:5px;

  font-size:14px;

}

/*---------------------------------------------------------------

[6.0 Skillbar-1 ]

---------------------------------------------------------------*/

.jx-skillsbar-1 .skillbar {
  border: 2px solid #f4bc16;
  height: 10px;
  margin-bottom: 49px;
  margin-top: 7px;
}
.jx-skillsbar-1 .skillbar-title {
  color: #212121;
  font-family: montserrat;
  font-size: 20px;
}

.jx-skillsbar-1 .percent-number {
  color: #212121;
  font-family: montserrat;
  font-size: 20px;
}
.eight hr {
  border-color: #1874c1;
  margin-top: 7px;
  width: 14%;
}

.jx-skillsbar-1 .percent-number .jx-percent-posttext{

  font-size:21px;

  margin-left:6px;

  font-family:oswald;

}

.jx-skillsbar-1 .skillbar-bar {
  background: #f4bc16 none repeat scroll 0 0;
  height: 4px;
  margin-left: 1px;
  margin-top: 1px;
}

/*---------------------------------------------------------------

[7.0 Service Style ]

---------------------------------------------------------------*/

/* Service Style#2 =============================*/

.panel {
  margin: 30px auto;
  /*height: 130px; */ 
  position: relative;
  /*-webkit-perspective: 600px;
  -moz-perspective: 600px;*/
  display: inline-block;
  width: 100%;
  box-shadow: none;
}

.panel .front,
.panel .back {
  text-align: center;
}
  
.panel .front {
  height: inherit;
  /*position: absolute;*/
  top: 0;
  z-index: 900;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
     -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.panel .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
  background-color: #1874C1;
  width: 100%;
  /*width: 100%;*/
  display: inline-block;
  /*height: 200px;*/
  height: auto;
  /*margin: 0 auto;*/
  /*padding: 20px;*/
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.box1 .service-image {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
}
.box1 h1,
.box2 h1 {
  font-family: montserrat;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
.box2{
  background-color: #F4BC16;
  /*width: 100%;*/
  display: inline-block;
  width: 100%;
  /*height: 200px;*/
  height: auto;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.box2 h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.box2 p {
  color: #fff;
  line-height: 1.6em;
  font-size: 14px;
  font-family: open sans;
  margin-bottom: 5px;
}
.readmore-btn  {
  border-radius: 50%;
  background: transparent;
  padding: 8px;
  margin-top: 5px;
  border:1px solid #1874C1;
  color: #1874C1;
  display: inline-block; 
  transition:all 0.4s ease-in 0s;
  -webkit-transition:all 0.4s ease-in 0s;
  -moz-transition:all 0.4s ease-in 0s;
}
.readmore-btn i.fa {
  color: #1874C1;
  transition:all 0.4s ease-in 0s;
  -webkit-transition:all 0.4s ease-in 0s;
  -moz-transition:all 0.4s ease-in 0s;
}
.readmore-btn:hover {
  background: #1874C1;
  color: #F4BC16;
}
.readmore-btn:hover i.fa {
  color: #F4BC16;
}
.doted-seperator {
  height: 5px;
  width: 15%;
  margin: 5px auto;
  display: block;
  border-top: 1px solid #1874C1;
  border-bottom: 1px solid #1874C1;
}



/*.jx-service-2 .content-box {
  background: #ffcc00 none repeat scroll 0 0;
  color: #ffffff;
  padding: 3px 15px !important;
}

.jx-service-2 .service-type {
  color: #000;
  font-family: open sans;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  text-transform: uppercase;
}
.jx-service-2 img{

  width:100%;

  height: auto

}

.jx-service-item{

  margin-bottom:20px;

}

.jx-service-item a{

  color:#000;

}

.jx-service-item .image{

  position: relative;

  overflow: hidden;

}

.jx-service-item .content-box {
  bottom: -60px;
  height: 120px;
  padding: 22px 0 0 26px;
  position: absolute;
  transition: all 0.3s ease-out 0s;
}

.jx-service-item:hover .content-box{

  position: absolute;

  bottom:0px;

  height: 240px;

 padding: 17px;

}

.four.columns .jx-service-item:hover .content-box {

    height: 176px;

}

.eight.columns .jx-service-item:hover .content-box {
  height: 345px;
}

.service-type {
  padding: 17px 0 0 14px !important;
}
.service-details {
  color: #000;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 28px;
}
.service-details > p {
  font-family: open sans;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 109px;
}
.service-details a {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: open sans;
  font-size: 16px;
  margin-bottom: 30px;
  display: inline-block;
}*/

/*---------------------------------------------------------------

[8.0 Protfolio Style ]

---------------------------------------------------------------*/

/* Portfolio Style#1 =============================*/

.jx-image-wrapper{

  position: relative;

  overflow: hidden

}

.jx-sale-tag {

    position: absolute;

    top: 5px;

    right: -50px;

    width: 110px;

    text-align: center;

    background: #ffcc00 none repeat scroll 0% 0%;

    color: #FFF;

    display: block;

    margin: -40px 0px 0px -48px;

    padding: 60px 0px 4px;

    font-weight: 500;

    text-transform: uppercase;

    z-index: 9;

    transform: rotate(45deg);

	font-family: oswald;

}
.jx-image-wrapper .jx-image-overlay {
  background: rgba(50, 50, 50, 0.8) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out 0s;
  width: 100%;
}

.jx-image-wrapper:hover .jx-image-overlay {
  opacity: 1;
  transform: scale(1);
}
.jx-image-wrapper .jx-scale-portfolio{  

  position: absolute;

  top:0;

  left:40%;

  width:50px;

  height:50px;

  text-align: center;

  line-height:50px;

  opacity:0;

  margin-top:-25px;

  transition:all .3s ease-out;

  border-radius: 50%;

}
.jx-image-wrapper .jx-scale-portfolio-2 a {
  color: #000;
  font-size: 18px;
}
.jx-image-wrapper .jx-scale-portfolio a:hover ,.jx-scale-portfolio-2 a:hover {
  color: #fff;
}

.jx-image-wrapper .jx-scale-portfolio-2{  

  position: absolute;

  top:0;

  right:40%;

  width:50px;

  height:50px;

  text-align: center;

  line-height:50px;

  opacity:0;

  margin-top:-25px;

  transition:all .3s ease-out;

  border-radius: 50%;

}

.jx-image-wrapper .jx-scale-portfolio a{  

  color:#000;

  font-size:18px;   

}
.jx-image-wrapper .jx-scale-portfolio-2 a i.fa,
.jx-image-wrapper .jx-scale-portfolio a i.fa {
  color: #333;
}

.jx-image-wrapper:hover .jx-scale-portfolio{  

  top:50%;

  opacity:1;

  background:#ffcc00;

}

.jx-image-wrapper:hover .jx-scale-portfolio-2{  

  top:50%;

  opacity:1;

  background:#ffcc00;

}
.jx-image-wrapper .jx-scale-portfolio:hover{  

  color:#000;

  font-size:20px;

  background:#f4bc16;

  cursor:pointer;

  top:50%;

}

.jx-protfolio .model-name {
  bottom: 27px;
  color: #fff;
  font-family: montserrat;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
}
.jx-protfolio .details {

    color: #FFF;

    font-size: 20px;

    font-weight: 500;

    position: absolute;

	bottom: 0;

    width: 80px;

    height: 80px;

    border-bottom: 140px solid rgba(0, 0, 0, 0.77);

    border-right: 150px solid transparent;

	position: absolute;

	font-family: oswald;

}

.jx-protfolio .details span {

	padding-top: 90px;

	position: absolute;

	padding-left: 20px;

	

}

/*---------------------------------------------------------------

[8.0 Buttons ]

---------------------------------------------------------------*/

.jx-btn-default {
  background: #ffcc00 none repeat scroll 0 0;
  color: #000;
  display: inline-block;
  font-family: open sans;
  font-size: 16px;
  padding: 14px 23px;
}
.jx-default-about .about-btn:hover {
  border: medium none !important;
}
.jx-btn-default:hover{

  cursor: pointer;

  background:#000;

  color:#ffcc00;   

}

.jx-btn-default i{

  margin-right:10px;  

}

.jx-btn-center {

	text-align:center;

}

/*---------------------------------------------------------------

[8.0 Logo Partner ]

---------------------------------------------------------------*/

.jx-logo-partner-1 .flex-direction-nav {

  *height: 0;

}






.jx-logo-partner-1 .flex-direction-nav .flex-next {

  right: -40px;

  text-align: right;

}

.jx-logo-partner-1 .flexslider:hover .flex-direction-nav .flex-prev {

  opacity: 1;

  left: -30px;

}

..flex-direction-nav a:hover {

  color:#F4BC16;

}

.jx-logo-partner-1 .flexslider:hover .flex-direction-nav .flex-next {

  opacity: 1;

  right: -40px;

}



.jx-logo-partner-1 .flex-direction-nav .flex-disabled {

  opacity: 1!important;

  filter: alpha(opacity=0);

  cursor: default;

}

/*---------------------------------------------------------------

[8.0  Quotes  ]

---------------------------------------------------------------*/

/*====* Style A * ====*/

.jx-blockquote {

}

.jx-blockquote .quote-a.quote-border {

  margin: 15px 20px;

  padding: 20px;

  border-left: 5px solid;

  font-size: 16px;

  font-family: Georgia,"Times New Roman",Times,serif;

  font-style: oblique;

  border-left-color:#ffcc00;

}

.jx-blockquote .quote-a .author_name {

  color: #333333;

  font-size: 14px;

  text-align: right;

}

	/*====* Style B * ====*/

.jx-blockquote .quote-b {

  font-size: 18px;

  margin: 0px;

  padding: 0px 0px 0px 45px;

  line-height: 1.45;

  position: relative;

  text-align: justify;

}

.jx-blockquote .quote-b:before {

  display: block;

  content: "\201C";

  font-size: 80px;

  position: absolute;

  left: -5px;

  top: -20px;

  color:#ffcc00;

}

.jx-blockquote .quote-b .author_name {

  color: #333333;

  font-size: 14px;

  display: block;

  margin-top: 5px;

}

.jx-blockquote .quote-b .author_name:before {

  content: "\2014 \2009";

}

/*---------------------------------------------------------------

[10.0  Dropcap  ]

---------------------------------------------------------------*/

.dropcap {

  margin-top: 5px;

  margin-bottom: 0px;

  margin-right: 5px;

  font-size: 25px;

  width: 32px;

  height: 32px;

  line-height: 32px;

  text-align: center;

  float: left;

}

.dropcap.dark {

  color: #fff;

  background-color:#ffcc00;

}

.dropcap.light {

  background: #000;

  color: #fff;

}

.dropcap .circle {

  border-radius: 20px;

}

/*---------------------------------------------------------------

[11.0  Checklist  ]

---------------------------------------------------------------*/

.jx-list-group li {

}

.jx-list-group.font-x2{

  font-size:16px;

}

.jx-list-group.font-x3{

  font-size:20px;

  font-family:oswald

}

.jx-list-group li span {

  width: 30px;

  height: 30px;

  font-size: 14px;

  text-align: center;

  line-height: 22px;

  padding: 4px;

  margin-right: 8px;

  color: #ffcc00;

}

.jx-list-group.light span {

  color: #ffffff;

}

.jx-list-group.dark span {

  color: #000000;

}

.jx-list-group.border-square-light span {

  border: solid 1px;

}

.jx-list-group.border-square-dark span {

  border: solid 1px #000000;

  color: #000000;

}

.jx-list-group.border-circle-light span {

  border: solid 1px;

  border-radius: 50%;

}

.jx-list-group.border-circle-dark span {

  border: solid 1px #000000;

  color: #000000;

  border-radius: 50%;

}

.jx-list-group.circle-light span {

  color: #ffffff;

  border-radius: 50%;

  background:#ffcc00;

}

.jx-list-group.circle-dark span {

  color: #ffffff;

  background: #000000;

  border-radius: 50%;

}

.jx-list-group.square-light span {

  color: #ffffff;

  background:#ffcc00;

}

.jx-list-group.square-dark span {

  color: #ffffff;

  background: #000000;

}

.jx-list-description {

  font-weight: 600;

}

.jx-list-button {

  color: #FFF;

  border: 2px solid #FFF;

  border-radius: 30px;

  font-size: 25px;

  padding: 10px 0px;

  font-weight: normal;

  width: 142px;

  text-align: center;

}

.jx-list-button:hover {

  background: none repeat scroll 0% 0% #000;

  cursor: pointer;

  border: 2px solid #FFF;

  color: #FFF;

}

.jx-list-group.x2 {

  padding-top: 4px;

}

.jx-list-group.x2 li {

  margin: 0px;

  padding: 0px;

  font-size: 14px;

}

.jx-list-group.x2 span {

  font-size: 22px;

  position: relative;

  top: 3px;

  margin-right: 3px;

}

	

	

.jx-list-group.jx-light li{

  color:#fff

}

.jx-list-group li span{

  margin-right: 10 !important;

}

.jx-list-group.circle-light li span{

  margin-right: 8px !important;

}

/*---------------------------------------------------------------

[8.0 Owl Slider ]

---------------------------------------------------------------*/

.jx-owl-top-nav .owl-nav{

  top:-45px;

  position: absolute;

  right:0

}

.owl-nav div{

  display: inline-block;

  margin-left:10px;

}

.owl-nav i{

  border:1px solid #eee;

  padding:10px;

}

.owl-nav i:hover{

 background:#ffcc00

}

/*---------------------------------------------------------------

[9.0 Car Listing ]

---------------------------------------------------------------*/

.jx-inventory-listing.jx-inventory-list ul {

	margin:0px;

	padding:0px;

}

.jx-inventory-listing.jx-inventory-list ul li {

	margin:20px 0px;

	padding:0px;

	background:#f1f1f1;

	display: inline-table;

	margin: 0px 0px 25px 0px;

	position:relative;

}

.jx-inventory-listing.jx-inventory-list ul li ul {

	margin:0px;

	padding:0px;

}

.jx-inventory-listing.jx-inventory-list ul li ul li{

	padding: 0px;

	display: block;

	margin: 0px;

	position: relative;

	background: none;

}

.jx-inventory-listing.jx-inventory-list ul li ul li span{

	font-weight: 600;

	width: 100px;

	display: inline-block;

}

/* list ========*/

.jx-inventory-listing.jx-inventory-list .image-position {

	width: 280px;

	margin-left:0px;

	float: left;

	display: inline;

	margin-right: 10px;

}

/* Image ========*/

.jx-inventory-listing.jx-inventory-list .detail-position {

	float: left;

	display: inline;

	margin-left: 10px;

	margin-right: 10px;

}

/* Detail Position ========*/

.jx-inventory-listing.jx-inventory-list .options-primary {

	width: 260px;

	margin-left:0px;

	float: left;

	display: inline;

	margin-right: 10px;

}

/* Options Primary ========*/

.jx-inventory-listing.jx-inventory-list .options-secondary {

	width: 300px;

	margin-left:0px;

	float: left;

	display: inline;

	margin-right: 10px;

}

/* Options Secondary ========*/

.jx-inventory-listing.jx-inventory-list .price-position {

	width: 280px;

	margin-left:0px;

	float: left;

	display: inline;

	margin-right: 10px;

}

/* Price Position ========*/

.jx-inventory-listing.jx-inventory-list .detail-content {

    padding: 25px 0px 0px 0px;

}

.jx-inventory-listing.jx-inventory-list .title {

	color:#000000;

	font-size:27px;

	font-family:oswald;

	padding-bottom:20px;

}

/* Title ========*/

.jx-inventory-listing.jx-inventory-list .price-content {

	padding: 34px 0px 30px 62px;

	border-left: dotted 1px #bababa;

	height: 172px;

}

.jx-inventory-listing.jx-inventory-list .price {

	color:#000000;

	font-size:14px;

}

.jx-inventory-listing.jx-inventory-list .tax {

	color:#757575;

	font-size:14px;

}

.jx-inventory-listing.jx-inventory-list .figure {

	color: #000;

	font-size: 35px;

	font-weight: 600;

	font-family: oswald;

	padding: 21px 0px 20px 0px;

}

.jx-inventory-listing.jx-inventory-list .details {

    color: #000000;

    font-size: 15px;

    font-weight: 500;

    bottom: 0px;

    width: 70px;

    height: 70px;

    border-bottom: 83px solid rgb(255, 204, 0);

    position: absolute;

    font-family: oswald;

    border-left: 85px solid transparent;

    right: 0px;

}

.jx-inventory-listing.jx-inventory-list .details span {

	position: absolute;

	margin: -35px 0px 0px -67px;

	padding: 90px 0px 40px 0px;

	font-weight: 500;

	z-index: 9;

	transform: rotate(-50deg);

	}

.jx-inventory-listing.jx-inventory-list .details a {

    color: #000000;

}	

.jx-inventory-listing.jx-inventory-list .details a:hover {

    color: #ffffff;

}	

/* Price ========*/

/* Grid Inventory Style */

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item {

    background: #F9F9F9 none repeat scroll 0% 0%;

    position: relative;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item img {

    width: 100%;

    height: auto;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .detail-position .jx-title {

    padding: 15px 15px 6px;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .jx-title a {

    color: #000;

    font-size: 22px;

    font-family: oswald;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .jx-title:hover a {

    color: #FC0;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .price-position {

    padding: 0px 15px 30px;

    font-size: 17px;

	font-family: open sans;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .price-position div {

    display: inline-block;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .details {

    color: #000;

    font-size: 15px;

    font-weight: 500;

    bottom: 0px;

    width: 70px;

    height: 70px;

    border-bottom: 83px solid #FC0;

    position: absolute;

    font-family: oswald;

    border-left: 85px solid transparent;

    right: 0px;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .details span {

    position: absolute;

    margin: -35px 0px 0px -67px;

    padding: 90px 0px 40px;

    font-weight: 500;

    z-index: 9;

    transform: rotate(-50deg);

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .details span a {

    color: #000;

}

.jx-inventory-listing.jx-inventory-grid .jx-inventroy-item .details:hover span a {

    color: #FFF;

}

/* List With Sidebar */

.with-sidebar .jx-inventory-listing.jx-inventory-list .image-position {

    width: 31%;

}

.with-sidebar .jx-inventory-listing.jx-inventory-list .detail-position {

    width: 40%;

}

.with-sidebar .jx-inventory-listing.jx-inventory-list .price-position {

  width:20%

  

}

.with-sidebar .jx-inventory-listing.jx-inventory-list .price-content {

  padding-top:30px;

  padding-left:50px;

}

.with-sidebar .jx-inventory-listing.jx-inventory-list .options-secondary{

  display: none;

}

/*---------------------------------------------------------------

[10.0 Inventory view ]

---------------------------------------------------------------*/

.single-vehicle-details .jx-inventory-top-bar .jx-title{

  font-size:35px;

  font-family: oswald

}

.single-vehicle-details .jx-inventory-top-bar .jx-subtitle {

    font-size: 22px;

    padding:15px 0 0;

}

.single-vehicle-details .badge-premium-listing {

    padding: 6px 10px 3px 5px;

    color: #000;

    text-transform: uppercase;

    font-family: "raleway",sans-serif;

    font-weight: 600;

    font-size: 12px;

    position: relative;

    background-color: #ffcc00;

    border-radius: 0px 3px 3px 0px;

    margin-left:15px;

    margin-top:50px;

    line-height: 1;

	vertical-align: middle;

  

}

.single-vehicle-details .badge-premium-listing::before {

    border-bottom: 12px solid transparent;

    border-right: 12px solid #ffcc00;

    border-top: 12px solid transparent;

    content: "";

    height: 0px;

    left: -12px;

    position: absolute;

    top: 0px;

    width: 0px;

}

/* Inventory Top Nav */

.single-vehicle-details .jx-inventory-top-bar .jx-inventory-nav li{

  display: inline-block;

}

.single-vehicle-details .jx-inventory-top-bar .jx-inventory-nav li a:hover{

  background:#eee

}

.single-vehicle-details .jx-inventory-top-bar .jx-inventory-nav li i{

  color:#888;

  margin-right:5px;

}

.single-vehicle-details .jx-inventory-top-bar .jx-inventory-nav li a{

  border:1px solid #ccc;

  padding:6px 10px;

  background:#f9f9f9;

  color:#888;

  font-size:13px;

  font-family:open sans;

  color:#888;

}

.single-vehicle-details .jx-inventory-top-bar .figure{

  text-align: right

}

.single-vehicle-details .jx-inventory-view .left-position {

/*	width: 730px;

	float: left;

	display: inline;

	margin-left: 10px;

	margin-right: 10px;*/

}

.single-vehicle-details .jx-inventory-view .figure {

	color: #000;

	font-size: 32px;

	font-weight: 500;

	font-family: oswald;

	margin: 0px 0px 30px 0px;

}

.single-vehicle-details .jx-inventory-view .figure span {

	padding: 5px 20px;

	background: #ffcc00;

}

.single-vehicle-details .jx-inventory-view .additional-images ul {

	margin: 0px 0px;

	padding: 10px;

	background: #eeeeee;

	display: inline-table;

}

.single-vehicle-details .jx-inventory-view .additional-images ul li {

	margin: 0px;

	padding: 1px;

	float: left;

	width: 25%;

}

/* ------- Inventory Image ------ */

.single-vehicle-details .jx-inventory-view .right-position {

/*	width: 410px;

	float: left;

	display: inline;

	margin-left: 10px;

	margin-right: 10px;

	*/

}

.single-vehicle-details .jx-inventory-view .inventory-details {

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);

    border-radius: 4px;

}

.single-vehicle-details .jx-inventory-view .item {

    position: relative;

    display: block;

    padding: 10px 15px;

    margin-bottom: -1px;

    border: 1px solid #DDD;

}

.single-vehicle-details .jx-inventory-view .badge {

	display: inline-block;

	min-width: 100px;

	padding: 4px 7px;

	font-size: 12px;

	font-weight: normal;

	line-height: 1;

	color: #FFF;

	text-align: center;

	white-space: nowrap;

	vertical-align: baseline;

	background-color: #777;

	border-radius: 5px;

	float: right;

}	

/* ------- Sidebar Wedgets ------ */

/*---------------------------------------------------------------

[11.0 Tabs ]

---------------------------------------------------------------*/

.resp-tabs-list li {

	font-size: 14px;

	text-align: left;

	display: inline-block;

	padding: 13px 15px;

	margin: 0px;

	list-style: outside none none;

	cursor: pointer;

	float: left;

	background: #f9f9f9 none repeat scroll 0% 0%;

	color: #333;

	border: 1px solid #eee;

}

.shortcode_tab_a .resp-tabs-list li:hover {

  color: #707070;

}

.shortcode_tab_a .resp-tabs-container {

  padding: 0px;

  background-color: #fff;

  clear: left;

}

.shortcode_tab_a h2.resp-accordion {

  cursor: pointer;

  padding: 5px;

  display: none;

}

.shortcode_tab_a .resp-tab-content {

  display: none;

  padding: 15px;

}

.shortcode_tab_a .resp-tab-active {

  border: 1px solid #c1c1c1;

  border-bottom: none;

  margin-bottom: -1px;

  padding: 12px 14px 14px 14px;

}

.shortcode_tab_a .resp-tab-active {

  border-bottom: none;

  background-color: #fff;

}

.resp-content-active,.resp-accordion-active {

  display: block;

}

.shortcode_tab_a .resp-tab-content {

  border: 1px solid #c1c1c1;

}

.shortcode_tab_a h2.resp-accordion {

  font-size: 14px;

  border: none;

  margin: 0px;

  padding: 10px 15px;

}

.shortcode_tab_a h2.resp-tab-active {

  border-bottom: 0px solid #c1c1c1;

  margin-bottom: 0px;

  padding: 10px 15px;

}

.shortcode_tab_a h2.resp-tab-title:last-child {

  border-bottom: 12px solid #c1c1c1;

  background: blue;

}

/*-----------Vertical tabs-----------*/

.jx-tab-icon {

  text-align: center;

  margin-bottom: 5px;

}

.jx-tab-icon i {

  font-size: 18px;

}

.shortcode_tab_a .resp-vtabs ul.resp-tabs-list {

  float: left;

  width: 30%;

  border-right: none;

  border-bottom: none;

}

.shortcode_tab_a .resp-vtabs .resp-tabs-list li {

  display: block;

  padding: 15px 15px;

  margin: 0;

  cursor: pointer;

  float: none;

  border-right: none;

  border-left: none;

  border-top: none;

  color: #333;

  text-align: center;

}

.shortcode_tab_a .resp-vtabs .resp-tabs-container {

  	padding: 0px;

	text-align: left;

	background-color: #FFF;

	float: left;

	width: 70%;

	min-height: 246px;

	clear: none;

	border: 1px solid #EEE;

	margin-top: -1px;

}

.shortcode_tab_a .resp-vtabs .resp-tab-content {

  border: none;

}

.shortcode_tab_a .resp-vtabs li.resp-tab-active {

	background-color: #fff;

	border-left: 5px solid;

	position: relative;

	z-index: 1;

	margin-right: -1px;

	font-size: 14px;

	font-weight: 500;

	text-align: center;

	border-top: 1px solid #eee;

	border-bottom: 1px solid #eee;

	margin-top: -1px;

}

.shortcode_tab_a .resp-arrow {

  width: 0;

  height: 0;

  float: right;

  margin-top: 16px;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-top: 12px solid #c1c1c1;

}

.shortcode_tab_a h2.resp-tab-active span.resp-arrow {

  border: none;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-bottom: 12px solid #9B9797;

}

.shortcode_tab_a h2.resp-accordion:first-child {

}

.shortcode_tab_a h2.resp-accordion i {

  margin-right: 7px;

  font-size: 16px;

}

/*-----------Vertical tabs Right-----------*/

.shortcode_tab_b .resp-tabs-list li:hover {

  color: #707070;

}

.shortcode_tab_b .resp-tabs-container {

  padding: 0px;

  background-color: #fff;

  clear: left;

}

.shortcode_tab_b h2.resp-accordion {

  cursor: pointer;

  padding: 5px;

  display: none;

}

.shortcode_tab_b .resp-tab-content {

  display: none;

  padding: 15px;

}

.shortcode_tab_b .resp-tab-active {

  margin-bottom: -1px;

  padding: 12px 14px 14px 14px;

}

.shortcode_tab_b .resp-tab-active {

  border-bottom: none;

  background-color: #fff;

}

.resp-content-active,.resp-accordion-active {

  display: block;

}

.shortcode_tab_b .resp-tab-content {

  border: 1px solid #c1c1c1;

}

.shortcode_tab_b h2.resp-accordion {

  font-size: 13px;

  margin: 0px;

  padding: 10px 15px;

  border: none;

}

.shortcode_tab_b h2.resp-tab-active {

  border-bottom: 0px solid #c1c1c1;

  margin-bottom: 0px;

  padding: 10px 15px;

}

.shortcode_tab_b h2.resp-tab-title:last-child {

  border-bottom: 12px solid #c1c1c1;

  background: blue;

}

/*-----------Vertical tabs-----------*/

.shortcode_tab_b .jx-tab-icon {

  text-align: center;

  margin-bottom: 5px;

}

.shortcode_tab_b .jx-tab-icon i {

  fint-size: 18px;

}

.shortcode_tab_b .resp-vtabs ul.resp-tabs-list {

  float: right;

  width: 30%;

}

.shortcode_tab_b .resp-vtabs .resp-tabs-list li {

  display: block;

  padding: 15px 15px;

  margin: 0;

  cursor: pointer;

  float: none;

  text-align: center;

  margin-top: -1px;

	margin-left: -1px;

}

.shortcode_tab_b .resp-vtabs .resp-tabs-container {

	padding: 0px;

	text-align: left;

	background-color: #fff;

	float: left;

	width: 70%;

	min-height: 245px;

	clear: none;

	border: 1px solid #eee;

	margin-top: -1px;

}

.shortcode_tab_b .resp-vtabs .resp-tab-content {

  border: none;

}

.shortcode_tab_b .resp-vtabs li.resp-tab-active {

	background-color: #fff;

	border-right: 5px solid;

	position: relative;

	z-index: 1;

	margin-right: -1px;

	font-size: 14px;

	font-weight: 500;

	text-align: center;

	margin-top: -1px;

	border-left: none;

}

.shortcode_tab_b .resp-arrow {

  width: 0;

  height: 0;

  float: right;

  margin-top: 16px;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-top: 12px solid #c1c1c1;

}

.shortcode_tab_b h2.resp-tab-active span.resp-arrow {

  border: none;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-bottom: 12px solid #9B9797;

}

.shortcode_tab_b h2.resp-accordion:first-child {

}

.shortcode_tab_b h2.resp-accordion i {

  margin-right: 7px;

  font-size: 16px;

}

#jx-google-map address {

  font-size: 15px;

  font-size: 0.9375rem;

  text-align: center;

}

/*-----------Horizontal Icon Tab-----------*/

.shortcode_tab_e {

  background: #f9f9f9;

}

.shortcode_tab_e .jx-tab-icon {

  text-align: center;

}

.shortcode_tab_e .jx-tab-icon i {

  font-size: 20px;

  padding: 5px;

}

.shortcode_tab_e li.resp-tab-active {

  font-weight: 500;

}

.shortcode_tab_e .resp-tabs-container {

  padding: 0px;

	background-color: #fff;

	clear: left;

	border: 1px solid #eee;

}

.shortcode_tab_e h2.resp-accordion {

  cursor: pointer;

  padding: 5px;

  display: none;

}

.shortcode_tab_e .resp-tab-content {

  display: none;

  padding: 15px;

}

.shortcode_tab_e ul li {

  background: #f9f9f9;

  color: #333;

}

.shortcode_tab_e .resp-tabs-list li {

  margin-right: -1px;

  margin-bottom: -2px;

}

.shortcode_tab_e li.resp-tab-active {

  border-top: 5px solid;

  margin-bottom: -1px;

  margin-right: -1px;

  padding: 12px 14px 14px;

  background-color: #fff;

  border-bottom: none;

}

.shortcode_tab_e li {

	border-top: 5px solid transparent;

	margin-bottom: -1px;

	margin-right: -1px;

	padding: 12px 14px 14px;

	background: #FFF none repeat scroll 0% 0%;

	min-width: 90px;

	text-align: center;

}

.shortcode_tab_e .resp-content-active,.resp-accordion-active {

  display: block;

}

.shortcode_tab_e .resp-tab-content {

}

.shortcode_tab_e h2.resp-accordion {

  font-size: 13px;

  margin: 0px;

  padding: 10px 15px;

  border: none;

}

.shortcode_tab_e h2.resp-tab-active {

  border-bottom: 0px solid #c1c1c1;

  margin-bottom: 0px;

  padding: 10px 15px;

}

.shortcode_tab_e h2.resp-tab-title:last-child {

  border-bottom: 12px solid #c1c1c1;

  background: blue;

}

/* Arrow White Tab ==================*/

.shortcode_tab_e.jx-white-tab.jx-arrow-tab {

  background: transparent;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab .jx-tab-icon {

  text-align: center;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li {

  background: #fff;

  color: #333;

  margin-bottom:15px !important;

  margin-right:15px;

  position:relative

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li.resp-tab-active:after

{

	content: '';

	position: absolute;

	border-style: solid;

	border-width: 9px 9px 0;

	border-color: #ffcc00 transparent;

	display: block;

	width: 0;

	z-index: 5;

	bottom: -8px;

	margin-left: -9px;  

	left: 50%;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab li.resp-tab-active {

  

  padding: 12px 14px 14px;

  background-color: #ffcc00;

  color: #000;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li {

    border: none;

}

.shortcode_tab_e.jx-white-tab .resp-tabs-list li.resp-tab-active:hover{

  color:#fff

}

/*-----------Vertical tabs-----------*/

.shortcode_tab_e .resp-vtabs ul.resp-tabs-list {

  float: left;

  width: 30%;

}

.shortcode_tab_e .resp-vtabs .resp-tabs-list li {

  display: block;

  padding: 15px 15px;

  margin: 0;

  cursor: pointer;

  float: none;

}

.shortcode_tab_e .resp-vtabs .resp-tabs-container {

  padding: 0px;

  background-color: #fff;

  border: 1px solid #c1c1c1;

  float: left;

  width: 68%;

  min-height: 250px;

  border-radius: 4px;

  clear: none;

}

.shortcode_tab_e .resp-vtabs .resp-tab-content {

  border: none;

}

.shortcode_tab_e .resp-vtabs li.resp-tab-active {

  border: 1px solid #c1c1c1;

  border-right: none;

  background-color: #fff;

  position: relative;

  z-index: 1;

  margin-right: -1px;

  padding: 14px 15px 15px 14px;

  color: #666666;

}

.shortcode_tab_e .resp-arrow {

  width: 0;

  height: 0;

  float: right;

  margin-top: 16px;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-top: 12px solid #c1c1c1;

}

.shortcode_tab_e h2.resp-tab-active span.resp-arrow {

  border: none;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-bottom: 12px solid #9B9797;

}

.shortcode_tab_e h2.resp-accordion i {

  margin-right: 7px;

  font-size: 16px;

}

/* Event Tabe */

.jx-event-table td{

  font-size:17px;

  text-align: left;

  border:none;

  padding: 17px;

}

.alt-a .time{

  background:#ffcc00;

  font-size:20px;

  font-family:oswald

}

.alt-a .event-title{

  background:#ffcc00;

  color:#000;

  font-size:20px;

  font-family:oswald

}

.alt-b .time{

  background:#fff;

  color:#000;

  font-size:20px;

  font-family:oswald

}

.alt-b .event-title{

  background:#fff;

  font-size:20px;

  font-family:oswald;

  color:#000;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab li .jx-tab-title {

	padding:20px;

	font-size: 19px;

	font-size: 24px;

	font-family: oswald;

}

/*-----------Accordion styles-----------*/

.shortcode_tab_e h2.resp-tab-active {

  background: #DBDBDB;

}

.resp-easy-accordion h2.resp-accordion {

  display: block;

}

.shortcode_tab_e .resp-easy-accordion .resp-tab-content {

  border: 1px solid #c1c1c1;

}

.shortcode_tab_e .resp-easy-accordion .resp-tab-content:last-child {

  border-bottom: 1px solid #c1c1c1;

}

.shortcode_tab_e .resp-jfit {

  width: 100%;

  margin: 0px;

}

.shortcode_tab_e .resp-tab-content-active {

  display: block;

}

.shortcode_tab_e h2.resp-accordion: first-child {

}

/* Tab Contents */

.tab-image{

	float:left;

	margin-right:10px;

}

/* Tab Styles ==================================*/

/* White Tab ==============================*/

.shortcode_tab_e.jx-white-tab {

  background: transparent;

}

.shortcode_tab_e.jx-white-tab .jx-tab-icon {

  text-align: center;

}

.shortcode_tab_e.jx-white-tab .jx-tab-icon i {

  font-size: 20px;

  padding: 5px;

}

.shortcode_tab_e.jx-white-tab .resp-tabs-container {

  padding: 0px;

  background-color: #fff;

   border:1px solid #eee;

  clear: left;

}

.shortcode_tab_e.jx-white-tab ul li {

  background: #fff;

  color: #2d2d3a;

  border:1px solid #eee

}

.shortcode_tab_e.jx-white-tab .resp-tabs-list li {

  margin-right: -1px;

  margin-bottom: -2px;

}

.shortcode_tab_e.jx-white-tab  li.resp-tab-active {

  

  margin-right: -1px;

  padding: 13px 14px 14px;

  background-color: #32B4C0;

  color:#fff;

}

.shortcode_tab_e.jx-white-tab li {

  border-top: 5px solid transparent;

  margin-right: -1px;

  padding: 12px 14px 14px;

  background: none repeat scroll 0% 0% #FFF;

}

/* White Tab Shadow =============================*/

.shortcode_tab_e.jx-white-tab.jx-shadow-tab {

  background: #fff;

  box-shadow:0 0 2px rgba(0,0,0,0.1)

}

/*---------------------------------------------------------------

[12.0 Accordion  ]

---------------------------------------------------------------*/



/* isotope + Accordion */

.jx-accordion-filter a.current{

  color:#ffcc00;

  font-weight:600

}



.jx-accordion-filter a{

  font-weight:600;  

}



.jx-accordion .jx-accordion-item {

    min-height: 0px !important;

    position: static !important;

    transform: translate3d(0px, 0px, 0px) !important;

}

.jx-accordion-hidden{

    display: none;

}



/* Accordion Code */

	

.jx-accordion {

  padding: 10px 0px;

}

.jx-accordion .circle .head {

  background: #ffffff;

  margin: 0px 0px 7px 0px;

}

.jx-accordion .circle .open .title {

  color: #000;

  background-color: #ffcc00;

}

.jx-accordion .circle .title {

	margin: 0px;

	padding: 0px;

	outline: medium none;

	display: block;

	text-align: left;

	font-size: 17px;

	cursor: pointer;

	font-weight: 500;

	font-family: oswald;

	color:#000000;

}

.jx-accordion .circle .title:hover {

  color: #000;

  background-color:#ffcc00;

}

.jx-accordion .circle .title span {

}

	

	/* Requirements */

	

.jx-accordion .circle [data-accordion] [data-content] {

  overflow: hidden;

  max-height: 0;

}

	

	/* Basic Theme */

	

.jx-accordion .circle [data-accordion] {

	   /* line-height: 1;*//* content style */;

}

.jx-accordion .circle [data-control],

	.jx-accordion .circle [data-content] > * {

  padding: 10px;

}

.jx-accordion .circle [data-content] [data-accordion] {

  border: 0;

  padding: 0;

}

.jx-accordion .circle [data-accordion] [data-control] {

  position: relative;

  padding-right: 40px;

}

.jx-accordion .circle .jx-accordion-icon:after {

  font-family: 'fontawesome';

  content: "\f054";

  float: left;

  font-size: 15px;

  padding: 2px 15px 0px 0px;

  font-weight:normal

}

.jx-accordion .circle [data-accordion] > [data-control]:hover:after {

  color: #000;

}

.jx-accordion .circle .open > .title .jx-accordion-icon:after {

  font-family: FontAwesome;

  font-style: normal;

  font-weight: normal;

  content: "\f078";

  float: left;

  color: #000;

  font-size: 15px;

}

	

	/* -------------------------- Start Accordion None Style -------------------------- */

	

.jx-accordion .none .head {

  margin: 0px 0px 0px 0px;

  border-bottom: 1px dashed #ddd;

}

.jx-accordion .none .title span{

	display: block;

	top: 9px;

	left: 0px;

	font-weight: 400;

	height: 33px;

	width: 33px;

	line-height: 24px;

	text-align: center;

	font-size: 14px;

	border: 1px solid transparent;

	border-radius: 3px;

	transition: all 0.1s ease-in-out 0s;

	position: absolute;

}

.jx-accordion .none .title {

	padding: 15px 0px 15px 36px;

	font-size: 19px;

	font-weight: 5600;

	line-height: 16px;

	letter-spacing: normal;

	display: block;

	position: relative;

	border-bottom: 0px none;

	text-transform: none;

	color: #000;

}

.jx-accordion .none .title:hover {

  cursor:pointer

  

}

.jx-accordion .none .open > .title .jx-accordion-icon::after {

  color: #ffffff;

}

.jx-accordion .none .title .jx-accordion-icon::after {

	font-family: "fontawesome";

	content: "\f054";

	float: left;

	font-size: 12px;

	border: 1px solid;

	padding-top: 10px;

	line-height: 7px;

	margin: 0px 3px 0px 0px;

	border-radius: 50%;

	height: 29px;

	width: 29px;

}

.jx-accordion .none .open > .title .jx-accordion-icon::after {

	font-family: "fontawesome";

	content: "\f078";

	float: left;

	font-size: 12px;

	border: 0;

	padding: 10px;

	line-height: 9px;

	margin: 0px 10px 0px 0px;

	border-radius: 50%;

	height: 29px;

	width: 29px;

	    

}

.jx-accordion .none .title:hover {

}

.jx-accordion .none .title span {

  line-height: 1.9;

  font-weight: 600;

}

	

	/* Requirements */

	

.jx-accordion .none [data-accordion] [data-content] {

  overflow: hidden;

  max-height: 0;

}

	

	/* Basic Theme */

	

.jx-accordion .none [data-accordion] {

	   /* line-height: 1;*//* content style */;

}

	

	/*.jx-accordion .none [data-control],*/

.jx-accordion .none [data-content] > * {

  padding-top: 3px;

  padding-bottom: 7px;

}

.jx-accordion .none [data-content] [data-accordion] {

  border: 0;

  padding: 0;

}

.jx-accordion .none [data-accordion] [data-control] {

  position: relative;

}

.jx-accordion .none [data-accordion] > [data-control]:hover:after {

  color: #ffffff;

  border-radius: 50%;

  text-align: center;

}

.accordion-border{

  border-bottom:1px dashed #ccc;

}

/* Accordion Style #3 ==================*/

.jx-accordion.jx-accordion-border .description{

  border:1px solid #eee;

  margin-top:-1px;

  padding:15px !important;

}

.jx-accordion.jx-accordion-border .open .title {

  background:#f9f9f9;

  color:#fff;

  border:1px solid #eee

}

.jx-accordion.jx-accordion-border .title {

  background:#f9f9f9;

  color:#000;

  font-weight:400;

  border:1px solid #eee;

  height:40px;

  line-height: 40px

}

.jx-accordion.jx-accordion-border .circle .jx-accordion-icon::after {

    font-family: "fontawesome";

    content: "\f105";

    float: left;

    font-size: 20px;

    color:#888;

    text-align: center;

    width:30px;

    height:30px;

    font-weight: normal;

    border-right:1px solid #ddd;

    margin-right:10px;

    padding-right:10px;

    height:38px;

    line-height: 35px !important;

}

.jx-accordion.jx-accordion-border .circle .open > .title .jx-accordion-icon::after {

    font-family: "fontawesome";

    content: "\f105";

    float: left;

    font-size: 20px;

    text-align: center;

    width:30px;

    height:30px;

    font-weight: normal;

    border-right:1px solid #ddd;

    margin-right:10px;

    padding-right:10px;

    height:38px;

    line-height: 35px !important;

	color:#fff;

}

.jx-accordion.jx-accordion-border .circle [data-control], .jx-accordion.jx-accordion-border .circle [data-content] > * {

    padding-top:0;

}

/* Accordion Style#3 ===================================================*/

/* Accordion Style #3 ==================*/

.jx-accordion-3 .description{

  border:1px solid #eee;

  margin-top:-1px;

  padding:15px !important;

}

.jx-accordion-3 .open .title {

  background:#f9f9f9;

  color:#fff;

  border:1px solid #eee

}

.jx-accordion-3 .title {

  background:#f9f9f9;

  color:#000;

  font-weight:400;

  border:1px solid #eee;

  height:50px;

  line-height: 50px;

  padding-left:20px

}

.jx-accordion-3 .circle .jx-accordion-icon::after {

    font-family: "fontawesome";

    content: "\f105";

    float: right;

    font-size: 20px;

    color:#888;

    text-align: center;

    width:30px;

    height:30px;

    font-weight: normal;

    margin-right:10px;

    padding-right:10px;

    height:38px;

    line-height: 45px !important;

}

.jx-accordion-3 .circle .open > .title .jx-accordion-icon::after {

    font-family: "fontawesome";

    content: "\f107";

    float: right;

    font-size: 20px;

    text-align: center;

    width:30px;

    height:30px;

    font-weight: normal;

    margin-right:10px;

    padding-right:10px;

    height:38px;

    line-height: 45px !important;

	  color:#fff;

}

.jx-accordion-3 .circle [data-control], .jx-accordion.jx-accordion-border .circle [data-content] > * {

    padding-top:0;

}

.jx-accordion-3 {

    padding: 10px 0px;

}

.jx-accordion-3 .circle .head {

    padding-bottom: 7px;

  

}

.jx-accordion-3 .circle .open .title, .jx-accordion-3 .circle .title:hover {

	background:#ffcc00;

}

/*---------------------------------------------------------------

[13.0 Counting Down  ]

---------------------------------------------------------------*/

.jx-counting-down{

  padding:20px;

  margin-top: 260px;

  text-align: center;

}

.jx-counting-down h1{

  font-size:45px;

  text-shadow:0 0 5px rgba(0,0,0,0.5)

}

.jx-counting-down .countdown{

  margin-left:-30px;

}

.jx-counting-down li{

  display: inline-block;

  margin-left:30px;

  background: #ffcc00;

  width:120px;

  height:120px;

  padding-top:30px

}

.jx-counting-down li .count{

  font-size:55px;

  margin-bottom:30px;

  font-family:oswald

}

.jx-counting-down li .count-text{

  font-size:25px;

  margin-bottom:30px;

  font-family:oswald

}

/*---------------------------------------------------------------

[13.0 Register Box  ]

---------------------------------------------------------------*/

.jx-register-box .jx-register-head{

  padding: 40px 0;

  text-align:center;

  border-bottom:1px solid #fff;

}

.jx-register-box .jx-register-head .jx-type{

  color:#fff;

  font-size:22px;

  font-family:oswald;

  line-height: 0;

  text-transform: uppercase;

  background:#000;

  padding:5px 15px;

  border-radius:10px;

  margin-left:20px;

  vertical-align: middle

}

.jx-register-box .jx-register-head .jx-price{

  color:#000;

  font-size:60px;

  font-family:oswald;

  vertical-align: middle  

}

.jx-details ul{

  margin:0;

  padding:0;

}

.jx-details li{

  color:#000;

  font-family: oswald;

  font-size:18px;

  border-bottom:1px solid #fff;

  padding:15px;

  margin:0

}

.jx-details li:before{

  content:'\f054';

  color:#000;

  font-family: fontawesome;

  font-size:18px;

  padding:15px;

  margin:0

}

.jx-register-btn{

  text-align: center;

}

.jx-register-btn a{

  background:none;

  border:2px solid #000;

}

.jx-register-btn a:hover{

  background:#000;

  border:2px solid #ffcc00;

  color:#fff;

}

/*---------------------------------------------------------------

[13.0 Social Network Share  ]

---------------------------------------------------------------*/

.jx-share-box-icon .share-title {

	color: #333333;

	font-size: 16px;

	line-height: 24px;

	float: left;

	padding: 10px 20px 0px 0px;

}

.jx-share-box-icon  .sharebox ul li {

	float: left;

	border: 3px solid #DDD;

	width: 45px;

	height: 45px;

	text-align: center;

	padding-top: 9px;

	margin-right: 5px;

}

.jx-share-box-icon  .sharebox ul li:hover {

	background:#000;

	cursor:pointer

}

.jx-share-box-icon  .sharebox ul li i {

	font-size: 20px;

	color: #aaaaaa;

}

.jx-share-box-icon  .sharebox ul li:hover i {

	color:#fff;

}

/*---------------------------------------------------------------

[13.0 Tooltips   ]

---------------------------------------------------------------*/

.tooltip {

  display: inline;

  position: relative;

  z-index: 999;

}

	/* Tooltip */

.tooltip-content {

  	position: absolute;

	z-index: 9999;

	height: 33px;

	padding: 7px 15px;

	left: 50%;

	margin-left: -38px;

	bottom: 100%;

	border-radius: 9px;

	text-align: center;

	background: none repeat scroll 0% 0% #000;

	color: #FFF;

	opacity: 0;

	margin-bottom: 32px;

	cursor: default;

	pointer-events: none;

	font-size: 13px;

	font-family: raleway;

	width: 83px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 8 */

	filter: alpha(opacity=0);

	/* IE 5-7 */

	-moz-opacity: 0;

	/* Netscape */

	-khtml-opacity: 0;

	/* Safari 1.x */

	margin-bottom: 32px;

	cursor: default;

	pointer-events: none;

}

.tooltip-content i {

  opacity: 0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

 /* IE 8 */

  filter: alpha(opacity=0);

 /* IE 5-7 */

  -moz-opacity: 0;

 /* Netscape */

  -khtml-opacity: 0;

 /* Safari 1.x */;

}

.sharebox li:hover .tooltip-content,

.sharebox li:hover .tooltip-content i {

  opacity: 1;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

 /* IE 8 */

  filter: alpha(opacity=100);

 /* IE 5-7 */

  -moz-opacity: 1;

 /* Netscape */

  -khtml-opacity: 1;

 /* Safari 1.x */;

}

.sharebox .fa-twitter.social{

  color:#00aced !important;

}

.sharebox .fa-facebook.social{

  color:#3b5998 !important;

}

.sharebox .fa-google-plus.social{

  color:#dd4b39 !important;

}

.sharebox .fa-linkedin.social{

  color:#007bb6 !important;

}

.sharebox .fa-delicious.social{

  color:#3b5998 !important;

}

.sharebox .fa-digg.social{

  color:#0093cc !important;

}

.sharebox .fa-reddit.social{

  color:#ff4500 !important;

}

.sharebox .fa-envelope.social{

  color:#999 !important;

}

.sharebox li:hover{

  border-color: #3223;

  background: transparent !important;;

}

.jx-share-box-icon .sharebox ul li:hover {

    border: 3px solid #666;

}

.tooltip-effect-4 .tooltip-content {

  -webkit-transform: translate3d(0,-20px,0);

  transform: translate3d(0,-20px,0);

  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;

  transition: opacity 0.3s, transform 0.3s;

}

.tooltip-effect-4 .tooltip-content i {

  -webkit-transform: translate3d(0,20px,0);

  transform: translate3d(0,20px,0);

  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;

  transition: opacity 0.3s, transform 0.3s;

}

.sharebox li:hover .tooltip-content,

.sharebox li:hover .tooltip-content i {

  pointer-events: auto;

  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);

  transform: translate3d(0,0,0) scale3d(1,1,1);

}

.tooltip-effect-1:hover .tooltip-content i {

  -webkit-transform: rotate3d(1,1,1,0);

  transform: rotate3d(1,1,1,0);

}

	/* Arrow */

.tooltip-content::after {

  content: '';

  position: absolute;

  top: 100%;

  left: 50%;

  margin: -7px 0 0 -15px;

  width: 30px;

  height: 20px;

  background: url(../images/down_arrow.png) no-repeat center center;

  background-size: 100%;

}

/*---------------------------------------------------------------

[10.0 Testimonials Style ]

----------------------------------------------------------------*/

/* ==========Testimonials Style#1 =========*/

.jx-tetimonials-1{

  background:#fff;

  

  border:1px solid #eee;

}

.jx-tetimonials-1 .description {
  color: #666;
  font-family: open sans;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 26px 22px 20px;
}


.jx-tetimonials-1 .position {
  color: #666;
  font-family: open sans;
  font-size: 11px;
  margin-top: 4px;
}

.jx-tetimonials-1 .description:before{

 content:'\f10d';

 font-family:fontawesome;

 margin-right:10px;

 font-size:15px;
 color:#F4BC16; 

}

.jx-tetimonials-1 .description::after {
  color: #f4bc16;
  content: "\f10e";
  font-family: fontawesome;
  font-size: 15px;
  margin-left: 10px;
}


.jx-tetimonials-1 .jx-testimonial-details {
  background: transparent none repeat scroll 0 0;
  padding: 2px 17px 40px;
}
.jx-tetimonials-1 .jx-testimonial-details .jx-testimonial-image{

 float:left;

 margin-right:20px;

 width:80px;

 height:80px;

}

.jx-tetimonials-1 .jx-testimonial-details .jx-testimonial-image img {
  border: 5px solid;
  margin-top: -29px;
}

.jx-tetimonials-1 .jx-testimonial-details .name {
  font-family: montserrat;
  font-size: 20px;
}


/*---------------------------------------------------------------

[10.0 TagBox ]

----------------------------------------------------------------*/

/*========= Tagbox Style#3 ========*/

.jx-taxbox-1 {

  margin: 0 auto;

  background-color: #fff;

  padding: 20px 25px;

  color: #333;

  font-size: 25px;

  line-height: 1;

  border: 8px solid #eee;

}

.jx-taxbox-1 .tag-msg {

  padding: 5px;

  font-weight: 200;

  font-size: 24px;

}



/*---------------------------------------------------------------
[10.0 Price Table ]
----------------------------------------------------------------*/

/*========= Pricing Style # 1 ============*/

.jx-price-1 {
	background:#ffcc00;
	text-align:center;
}
.jx-price-1 .title {
	font-size: 35px;
	padding: 20px 0px;
	font-family: oswald;
	text-transform:uppercase;
}
.jx-price-1 .price {
	font-size: 45px;
	padding: 23px 0px 15px 0px;
	background: #000000;
	color: #FFF;
	font-family: oswald;
}
.jx-price-1 .price span {
	font-size: 24px;
}
.jx-price-1  ul.list {
	padding:0px;
	margin:0px;
}
.jx-price-1 ul.list li {
	padding:10px 0px;
	margin:0px;
	border-bottom:1px solid #ffffff;
}
.jx-price-1 .jx-button {
	background:#000000;
	padding:10px 0px;
}
.jx-price-1 .jx-button .price-btn{
	padding: 12px 20px;
	background: #FC0 none repeat scroll 0% 0%;
	display: inline-block;
	color: #000;
	font-size: 22px;
	font-family: oswald;
	border: 1px solid transparent;
	border-radius: 5px;
}
.jx-price-1 .jx-button .price-btn:hover {
	color:#ffffff;
}

/*========= Pricing Style # 2 ============*/

.jx-price-2 {
	text-align:center;
}
.jx-price-2 .title {
	font-size: 35px;
	padding: 20px 0px;
	font-family: oswald;
	text-transform:uppercase;
		background:#ffcc00;
}
.jx-price-2 .price {
	font-size: 45px;
	padding: 23px 0px 15px 0px;
	background: #000000;
	color: #FFF;
	font-family: oswald;
}
.jx-price-2 .price span {
	font-size: 24px;
}
.jx-price-2  ul.list {
	padding:0px;
	margin:0px;
}
.jx-price-2 ul.list li {
	padding:10px 0px;
	margin:0px;
	border-bottom:1px solid #bababa;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
}
.jx-price-2 .jx-button {
	background:#f9f9f9;
	padding:10px 0px;
	border:solid 1px #bababa;
	border-top:none;
}
.jx-price-2 .jx-button .price-btn{
	padding: 12px 20px;
	background: #000000;
	display: inline-block;
	color: #ffffff;
	font-size: 22px;
	font-family: oswald;
	border: 1px solid transparent;
	border-radius: 5px;
}
.jx-price-2 .jx-button .price-btn:hover {
	color:#000000;
	background:#ffcc00;
}


